In [5]:
dic={"name":"ali" , "last":"faisal khan"}
print(dic)
print(dic.values())
print(dic["name"])
print(dic.keys())

{'name': 'ali', 'last': 'faisal khan'}
dict_values(['ali', 'faisal khan'])
ali
dict_keys(['name', 'last'])

In [7]:
a="faisal"
b="heloo"
print(f"{a} fnsdnfm {b}") #new  version updTE
print(" {}  {}".format(a , b)) #old version

faisal fnsdnfm heloo
 faisal  heloo

In [9]:
for i , j in enumerate(["one" , "twi", "three"]):
    print(i, '::', j)

0 :: one
1 :: twi
2 :: three

map(func , iterable numbers)

In [11]:
def square(n):
    return n*n
number=[1,2,3,4,5]
result=map(square , number)
print(result)
print(set(result))

<map object at 0x0000018262C8F400>
{1, 4, 9, 16, 25}

In [17]:
def isEven(n):
    if n%2==0:
        return True
    else:
        return False
number=(1,2,3,4,5,5,6,6,7,7,8)
for i in range(number):
    
    result=map(isEven, number)
    print(result)  
print(set(result))

TypeError: 'tuple' object cannot be interpreted as an integer

In [24]:
a=[2,3,4]
b=["ali", "helo" , "hi" , "kilo"]
result=zip(a,b)b
print(result)

print(set(result))

<zip object at 0x000001826341F140>
{(4, 'hi'), (2, 'ali'), (3, 'helo')}

In [27]:
s=0
for i in range(1 , 20):
    if i%2==0:
        s=s+i
 
print("total =" ,s)

total = 90

In [33]:
s=0
for i in range(1 ,10):
    s=s+i
print(s)

45